Connected Services/WsiEksport/ws10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:d="https://uni-login.dk/data" xmlns:tns="https://wsieksport.uni-login.dk/eksport/small" xmlns:exp="https://wsieksport.uni-login.dk/eksport" xmlns:trans="https://uni-login.dk/data/transitional" elementFormDefault="qualified" targetNamespace="https://wsieksport.uni-login.dk/eksport/small" xml:lang="da" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsieksport.uni-login.dk:443/wsieksport-v4/ws?xsd=1" namespace="https://uni-login.dk/data" />
  <xs:import schemaLocation="https://wsieksport.uni-login.dk:443/wsieksport-v4/ws?xsd=2" namespace="https://uni-login.dk/data/transitional" />
  <xs:import schemaLocation="https://wsieksport.uni-login.dk:443/wsieksport-v4/ws?xsd=5" namespace="https://wsieksport.uni-login.dk/eksport" />
  <xs:annotation>
    <xs:documentation>Skema for lille eksport.</xs:documentation>
  </xs:annotation>
  <xs:element name="UNILoginExport" type="tns:uniLoginExportSmall">
    <xs:key name="source_key">
      <xs:selector xpath="exp:ImportSource" />
      <xs:field xpath="@source" />
    </xs:key>
    <xs:keyref name="instperson_source_keyref" refer="tns:source_key">
      <xs:selector xpath="tns:Institution/tns:InstitutionPerson" />
      <xs:field xpath="@source" />
    </xs:keyref>
  </xs:element>
  <xs:complexType name="uniLoginExportSmall">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:uniLoginExportSmallBase">
        <xs:sequence>
          <xs:element name="Institution" type="tns:institutionSmall">
            <xs:key name="unik_GroupId_pr_inst">
              <xs:selector xpath="d:Group" />
              <xs:field xpath="d:GroupId" />
            </xs:key>
            <xs:keyref name="Student_GroupId_ref" refer="tns:unik_GroupId_pr_inst">
              <xs:selector xpath="tns:InstitutionPerson/tns:Student/d:GroupId" />
              <xs:field xpath="." />
            </xs:keyref>
            <xs:keyref name="Employee_GroupId_ref" refer="tns:unik_GroupId_pr_inst">
              <xs:selector xpath="tns:InstitutionPerson/trans:Employee/d:GroupId" />
              <xs:field xpath="." />
            </xs:keyref>
            <xs:keyref name="MainGroupId_ref" refer="tns:unik_GroupId_pr_inst">
              <xs:selector xpath="tns:InstitutionPerson/tns:Student/d:MainGroupId" />
              <xs:field xpath="." />
            </xs:keyref>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="uniLoginExportSmallBase">
    <xs:complexContent mixed="false">
      <xs:restriction base="exp:uniLoginExportBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="exp:ImportSource" />
        </xs:sequence>
        <xs:attribute fixed="small" name="accessLevel" type="xs:token" use="required" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="institutionSmall">
    <xs:complexContent mixed="false">
      <xs:extension base="d:institutionWithGroupsBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="InstitutionPerson" type="tns:institutionPersonSmall">
            <xs:annotation>
              <xs:documentation>Ansatte og elever på institutionen.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="institutionPersonSmall">
    <xs:complexContent mixed="false">
      <xs:extension base="exp:institutionPersonExportBase">
        <xs:sequence>
          <xs:element name="UNILogin" type="d:uniLoginMini" />
          <xs:element minOccurs="0" name="Person" type="d:personMini">
            <xs:annotation>
              <xs:documentation>
                                Elementet er valgfrit, da det ikke findes på brugere oprettet manuelt uden for
                                importsystemet.
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                                Oplysninger ud fra personens type. Mangler for manuelt oprettede brugere.
                            </xs:documentation>
            </xs:annotation>
            <xs:element name="Student" type="trans:studentMini">
              <xs:annotation>
                <xs:documentation>Elevoplysninger om personen.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="trans:Employee" />
            <xs:element ref="d:Extern" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>